h2{
    margin: 3%;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bar{
    background-color: darkgreen;
    padding: 0.2%;
}

.nb-links{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    color: antiquewhite;
}

.def-mammals{
    background-color: orange;
    color: maroon;
    width: 300px;
    height: 500px;
    align-items: justify;
    margin-left: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont-mammals{
    background-color: orange;
    color: maroon;
    width: 450px;
    height: 750px;
    align-items: justify;
    margin-left: 20%;
    font-family: fantasy;
}
